# File patterns to ignore; see `git help ignore` for more information.
# Lines that start with '#' are comments.
__pycache__/
data/
build/
test/
_env/

# .vscode/
.ipynb_checkpoints/
.idea
*.egg-info
*.pyc
*.pth

# 
test-output/
code-review.csv